@import '../../Scss/Variables';
@import '../../Scss/Mixins';

#projectsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  position: relative;

  .projectsWrapper {
    width: 100%;
    height: fit-content;
    display: grid;
    margin-top: 2rem;

    &.noResults {
      height: 100% !important;
    }
  }
}