@import '../../Scss/Variables';
@import '../../Scss/Mixins';


#loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  .loginHeading {
    color: $text-secondary;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  #loginFormWrapper {
    display: flex;
    background-color: $background-secondary;
    border-radius: $border-radius--secondary;
    box-shadow: $box-shadow--secondary;

    @media #{$tablet-down} {
      flex-direction: column;
      max-width: 100%;
    }

    
  }
}